.header {
    background-color: #ff0000;
    color: #ffffff;
}

.navigation {
    background-color: #ffff00;
}

.content {
    background-color: #00ff00;
}

.footer {
    background-color: #0000ff;
    color: #ffffff;
}
/* .Exercise2FormLayout{
    background-color: #0000ff;
}
.Exercise2TextField1{
    background-color: red;
}
.Exercise2TextField2{
    background-color: green;
}
.Exercise2TextField3{
    background-color: yellow;
}
.Exercise2Password1{
    background-color: aqua;
}
.Exercise2Password2{
    background-color: brown;
} */
